<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <h1>Refugee Registration Form</h1>
    <form action="/submit" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br><br>

        <label for="dob">Date of birth:</label>
        <input type="text" id="dob" name="dob"><br><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>

        <label for="country_of_origin">Country of Origin:</label>
        <input type="text" id="country_of_origin" name="country_of_origin"><br><br>

        <label for="date_arrival">Date of Arrival:</label>
        <input type="text" id="date_arrival" name="date_arrival"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
